*{
    margin:0;
    padding: 0;
}
body{
  font-family: "Playfair", serif;
}
.navbar{
    background-color: #fd6569;
    padding: 10px;

}
.container{
    padding:15px;

}
.book-container{
    padding:20px;
    width:25%;
    background-color: black;
    border-radius: 9px;
    color:mintcream;
    vertical-align: top;
    margin: 30px;


}
.book-container h2{
    color:#fd6569;
}
.book-container button{
    background-color: #fd6569;
    color:black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    border:none;
    margin-top: 10px;
    display: inline-block;
}
.add-button{
    background-color: #fd6569;
    color:black;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border:none;
    position:fixed;
    bottom:30px;
    right:30px;

}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 1;
    display: none;

    
}
.popup-box{
    background-color: #fd6569;
    width:32%;
    padding:35px;
    border-radius: 10px;
    position: absolute;
    top:20%;
    left:35%;
    z-index: 2;
    display: none;

}
 .popup-box input{
    border: none;
    width:100px;
    margin:5px;
    padding:5px ;
    font-size: 20px;
    border:solid black 2px ;
}
.popup-box textarea{
    width:100%;
    margin:5px;
    padding:5px ;
    font-size: 20px;
    border:solid black 2px ;
}
.popup-box input::placeholder{
    color: black;

    
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color: black;
    margin:5px;
    padding-left: 20px;
    padding-right: 25px;
    border:none;
    padding-top:5px ;
    padding-bottom: 5px;
    color:white;
}